body {
  background-color: #eee9de;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

h2 {
  text-align: center;
  display: inline-block;
}
p {
  line-height: 1.5em;
  width: 25em;
  text-align: center;
}

div  {
  display: inline-block;
  max-width: 100%;
  text-align: center;
}

a {
text-align: center;
width: 50%;
text-decoration: none;
background-color: orange;
padding: 1em;
border-width: 5em;
}
