body {
  background-color: #eee9de;
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
  margin: 0;
}

img {
  max-width: 100%;
  display: inline-block;
  width: 50em;
}

h2 {
  text-align: center;
  display: inline-block;
  margin: 0 0 1.5rem;
}

p {
  text-align: center;
  margin: 0 0 1.5rem;

}

div {
  max-width: 25em;
  text-align: center;
  padding: 1em;
}

a {
text-align: center;
text-decoration: none;
background-color: #eee9de;
padding: .4em .75em .5em;
border: 3px solid;
border-color: black;
border-radius: 4px;
display: inline-block;
font-size: 1.125rem;

}
